*
{
    padding: 0;
    margin: 0;
}
body .intro {
    padding: 10px;
}
/* .head {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 5px;
    background: rgb(222, 231, 167);
    color: rgb(55, 78, 13);
} */
.cong {
    font-size: 20px;
    text-align: center;
}
.ind-logo {
    display: flex;
    background-color: rgb(212, 10, 10);
}
.ind-logo img {
    padding: 7px;
    margin-left: 39%;
}
.head p {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(185, 234, 247);
    padding: 5px;
}
.head {
    padding-bottom: 20px;
}
.intro {
    margin: 10px;
}
.intro p {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img {
    padding: 10px;
}
.butts1 button {
    width: 300px;
    margin: 5px;
    height: 24px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
}
.butts2 button {
    width: 300px;
    margin: 5px;
    height: 24px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
}
.butts3 button {
    width: 300px;
    margin: 5px;
    height: 24px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
}
.butts4 button {
    width: 300px;
    margin: 5px;
    height: 24px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
}
.com {
    display: flex;
    background-color: rgb(160, 152, 152);
    justify-content: space-between;
    padding: 5px;
    opacity: 50%;
    width: 300px;
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ques p span {
    font-weight: bold;
}
.ques {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 9px;
}
.comm {
    color: rgb(3, 3, 121);
}
.num {
    color: rgb(61, 59, 59);
    opacity: 60%;
}
.nf {
    display: flex;
    padding: 10px;
    margin: 3%;
    border-bottom: 0.5px solid rgb(235, 232, 232) ;
}
.comn P {
    padding: 7px;
}
.comn .time {
    opacity: 30%;
}
.comment {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.comn .name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nf img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}
footer {
    background-color: rgb(212, 10, 10);
    height: 35px;
}
footer p {
    color: white;
    text-align: center;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #ques-container2 {
    display: none;
}
#ques-container3 {
    display: none;
}
#ques-container4 {
    display: none;
} */
/* .q1 {
    display: none;
} */
.q2 {
    display: none;
}
.q3 {
    display: none;
}
.q4 {
    display: none;
}
.verify {
    box-sizing: border-box;
    border: 1px solid white;
    height: 250px;
    width: 630px;
    margin-left: 2%;
    border-radius: 10px;
}
.verify p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.we {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
}
.sec {
    opacity: 50%;
    padding-bottom: 30px;
}
.wait {
    font-size: 30px;
    padding-bottom: 10px;
}
.verify {
    display: none;
}
.verify button {
    width: 170px;
    height: 30px;
    align-items: center;
    margin-left: 36%;
    background-color: rgb(212, 10, 10);
    color: white;
}
.share {
    box-sizing: border-box;
    border: 1px solid white;
    width: 600px;
    padding: 15px;
    display: none;
    margin-left: 10%;
}
.click {
    /* text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    font-family: monospace; */
    color: #fff;
    background: #000;
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    outline: none; 
    border: 1px solid #f00144; 
     border-radius: 50px;
    margin-left: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 20px;
    height: 20px; */
    
}
.whatsapp-btn {
    text-decoration: none;
    color: white;
}
.verify input {
    width: 160px;
    margin-left: 35%;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .container {
    width: 70%;
    padding: 50px 0;
    background-color: #1b1919;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
} */
.bar {
    background: #b6b6b6;
    width: 20%;
    height: 15px;
    margin: 10px auto;
    border-radius: 50px;
    overflow: hidden;
}
.fill {
    height: 100%;
    width: 1%;
    background: linear-gradient(45deg,#f00144,#fd5900);
}
.counter {
    font-size: 15px;
    font-family: monospace;
    font-weight: 800;
    color: #f00144;
    /* padding: 5px; */
    margin-left: 48%;
    margin-bottom: 3%;
}
.share p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* responsiveness */

@media (max-width: 347px) {
    *
{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}
body .intro {
    padding: 5px;
}
/* .head {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 5px;
    background: rgb(222, 231, 167);
    color: rgb(55, 78, 13);
} */
.cong {
    font-size: 5px;
    text-align: center;
}
.ind-logo {
    display: flex;
    background-color: rgb(212, 10, 10);
    
}
.ind-logo img {
    padding: 7px;
    margin-left: 39%;
    width: 35px;
    height: 30px;
}
.head p {
    /* text-align: center; */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(185, 234, 247);
    padding: 3px;
    font-size: 7px;
}
.head {
    width: auto;
    padding-bottom: 20px;
}
.intro {
    margin: 10px;
}
.cong {
    font-weight: bold;
}
.intro p {
    margin: 3px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img {
    padding: 10px;
}
.img2 {
    width: 160px;
}
.butts1 button {
    width: 230px;
    margin: 5px;
    height: 22px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
    font-size: 12px;
}
.butts2 button {
    width: 230px;
    margin: 5px;
    height: 22px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
    font-size: 12px;
}
.butts3 button {
    width: 230px;
    margin: 5px;
    height: 22px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
    font-size: 12px;
}
.butts4 button {
    width: 230px;
    margin: 5px;
    height: 22px;
    background-color: rgb(212, 10, 10);
    color: white;
    border: 1px solid rgb(97, 84, 84);
    border-radius: 7px;
    font-size: 12px;
}
.com {
    display: flex;
    background-color: rgb(160, 152, 152);
    justify-content: space-between;
    padding: 5px;
    opacity: 50%;
    width: 235px;
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ques p span {
    font-weight: bold;
}
.ques p {
    font-size: 12px;
}
.ques {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 9px;
}
.comm {
    color: rgb(3, 3, 121);
    font-size: 12px;
}
.num {
    color: rgb(61, 59, 59);
    opacity: 60%;
    font-size: 12px;
}
.nf {
    display: flex;
    padding: 5px;
    margin: 3%;
    border-bottom: 0.5px solid rgb(235, 232, 232) ;
}
.comn P {
    padding: 6px;
    font-size: 12px;
}
.comn .time {
    opacity: 30%;
    font-size: 12px;
}
.comment {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.comn .name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.nf img {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}
footer {
    background-color: rgb(212, 10, 10);
    height: 25px;
}
footer p {
    color: white;
    text-align: center;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
}
/* #ques-container2 {
    display: none;
}
#ques-container3 {
    display: none;
}
#ques-container4 {
    display: none;
} */
/* .q1 {
    display: none;
} */
.q2 {
    display: none;
}
.q3 {
    display: none;
}
.q4 {
    display: none;
}
.verify {
    box-sizing: border-box;
    border: 1px solid white;
    height: 200px;
    width: 259.2px;
    margin-left: 1%;
    border-radius: 10px;
    padding-bottom: 20px;
}
.verify p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.we {
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 10px;
}
.sec {
    opacity: 50%;
    padding-bottom: 10px;
    font-size: 9px;
}
.wait {
    font-size: 8px;
    padding-bottom: 7px;
}
.verify {
    display: none;
}
.verify button {
    width: 70px;
    height: 20px;
    align-items: center;
    margin-left: 36%;
    background-color: rgb(212, 10, 10);
    color: white;
    font-size: 11px;
}
.share {
    box-sizing: border-box;
    border: 1px solid white;
    width: 230px;
    padding: 2px;
    display: none;
    margin-left: 10%;
}
.click {
    /* text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    font-family: monospace; */
    color: #fff;
    background: #000;
    margin-top: 0px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    outline: none; 
    border: 1px solid #f00144; 
     border-radius: 50px;
    margin-left: 34%;
    font-size: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 20px;
    height: 20px; */
    
}
.verify input {
    width: 160px;
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 40px;
    padding-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.whatsapp-btn {
    text-decoration: none;
    color: white;
}
/* .container {
    width: 70%;
    padding: 50px 0;
    background-color: #1b1919;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
} */
.bar {
    background: #b6b6b6;
    width: 30%;
    height: 8px;
    margin: 7px auto;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 37%;
}
.fill {
    height: 100%;
    width: 1%;
    background: linear-gradient(45deg,#f00144,#fd5900);
}
.counter {
    font-size: 11px;
    font-family: monospace;
    font-weight: 800;
    color: #f00144;
    /* padding: 5px; */
    margin-left: 45%;
    margin-bottom: 1%;
}
.share p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
}
